/////////////////////////////////////////
///////LANDING PAGE FORM
.form-contact {
  background-image: url('../../images/contact-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  min-height: 60vh;
  @include flex-center;
  justify-content: space-around;
  & > * {
    flex: 1;
  }
  @include respond(tab-port) {
    flex-direction: column;
    & > :first-child {
      margin-top: 5rem;
    }
  }
  &__heading {
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
  }
  &__group {
    @include flex-center;
    flex-direction: column;
  }
  &__input {
    border: none;
    border-bottom: 2px solid $form-contact-border;
    padding: 1rem 0.5rem;
    background-color: $form-contact-bg;
    font-family: inherit;
    font-size: 3rem;
    width: 50rem;
    @include respond(phone) {
      width: 30rem;
    }
    outline: none;
    &::placeholder {
      color: $form-contact-placeholder;
      font-weight: 100;
    }
  }
  &__label {
    align-self: flex-start;
    padding: 0 0.5rem;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
  }
  &__submit {
    text-transform: uppercase;
    padding: 2rem 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    border: none;
    @include respond(phone) {
      padding: 1.25rem 2.5rem;
    }
    background-color: $form-submit-bg;
    color: $form-submit-col;
    -webkit-clip-path: polygon(
      92% 0,
      100% 25%,
      100% 100%,
      8% 100%,
      0% 75%,
      0 0
    );
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
}

/////////////////////////////////////////
///////SCI-FI FORM
.form-sci-fi {
  display: flex;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  & > * {
    display: inline-block;
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    background-color: $form-sci-fi-bg;
    color: $form-sci-fi-col;
    font-weight: bold;
    border: 1px solid $form-sci-fi-col;
    transition: all 0.2s ease-in-out;
    &:focus,
    &:hover {
      -webkit-box-shadow: 0 0 20px 0 $form-sci-fi-col;
      -moz-box-shadow: 0 0 20px 0 $form-sci-fi-col;
      box-shadow: 0 0 20px 0 $form-sci-fi-col;
      background-color: $form-sci-fi-col;
      color: $form-sci-fi-col-hover;
      outline: none;
    }
  }
  &--block {
    flex-direction: column;
    & > * {
      min-width: 50rem;
      @include respond(phone) {
        min-width: 30rem;
      }
    }
  }
  &__input {
    flex: 3;
    &::placeholder {
      color: currentColor;
      font-weight: 100;
    }
  }
  select {
    option {
      background-color: $form-sci-fi-select-bg;
      color: $form-sci-fi-col;
    }
  }
}

.form__link {
  text-decoration: none;
  color: $link-col;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $link-hover-col;
  }
}
