.user {
  width: 80%;
  margin: auto;
  @include respond(tab-port) {
    width: 100%;
  }
  &__pic-box {
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      justify-content: center;
    }
    align-items: center;
    border-top: 1rem solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
  &__protocol,
  &__pic {
    margin: 0.5rem 0;
  }
  &__protocol {
    height: 20rem;
    width: 90rem;
    @include respond(phone) {
      display: none;
    }
  }
  &__pic {
    height: 30rem;
    width: 30rem;
    padding: 0.2rem;
    border-width: 1px 0 1px 1px;
    border-color: #cdcdcd;
    border-style: solid;
  }
  &__id-box {
    display: flex;
    justify-content: center;
  }
  &__info {
    border: 1px solid #cdcdcdcd;
    text-transform: uppercase;
    & > div {
      font-weight: 100;
      font-size: 1.5rem;
      padding-left: 0.5rem;
      letter-spacing: 0.2rem;
    }
    & > span {
      font-weight: 500;
      font-size: 2rem;
      padding-left: 1.5rem;
      box-decoration-break: clone;
    }
  }
  &__id {
    flex: 2;
  }
  &__id-type {
    flex: 1;
  }
  &__info-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  &__name {
    grid-area: 1 / 1 / 2 / 7;
  }
  &__total-builds {
    grid-area: 2 / 1 / 3 / 3;
  }
  &__total-upvotes {
    grid-area: 2 / 3 / 3 / 5;
  }
  &__allias {
    grid-area: 2 / 5 / 3 / 7;
    span {
      color: #e90848;
    }
  }
  &__date {
    grid-area: 3 / 5 / 4 / 7;
  }
  &__email {
    grid-area: 3 / 1 / 4 / 5;
  }
  &__followers {
    grid-area: 4 / 1 / 5 / 3;
  }
  &__following {
    grid-area: 4 / 3 / 5 / 7;
  }
  &__edit {
    border: 1px solid #cdcdcdcd;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    flex: 1;
  }
}
