.ml-small {
  margin-left: 2rem;
}

.mb-xs {
  margin-bottom: 1rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-med {
  margin-bottom: 4rem;
}

.flex-center {
  @include flex-center;
}

.text-center {
  text-align: center;
}
